.background{
	background-color: maroon;
}
.text {
	text-decoration-color: blue;
}
* {
	margin: 0;
}
html, body {
	height: 100%;
}
.page-wrap {
	min-height: 100%;
	margin-bottom: -142px;
}
.page-wrap:after {
	content: "images/the1.jpeg";
	display: block;
}
.site-footer, .page-wrap:after {
	height: 142px;
}
.site-footer {
	background: #ff1245;
}
img {
	padding:1px;
	border:1px solid maroon;
	background-color:red;
}
